$fm : 'Public Sans', sans-serif;

//colors


// Primary

$dark-blue: hsl(233, 26%, 24%);
$lime-Green: hsl(136, 65%, 51%);
$bright-Cyan: hsl(192, 70%, 51%);

// Neutral

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


$transition: 300ms ease-in-out;