@import 'mixins';
@import 'variables';
@import 'nav';
@import 'main-banner';
@import 'sectionWhy';
@import 'section-latest';
@import 'footer';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fm;
  background-color: $very-light-gray;
  font-size: 18px;
  overflow-x: hidden;
  @media (min-width: 375px) and (max-width: 768px) {
    font-size: .9rem;
  }

}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
